@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400..700&family=Orbitron:wght@400..900&display=swap');
body {background-color: #f3bdff;
    font-size: 16px;
    font-family: Orbitron, Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;

}
nav, footer {
    background-color: aqua;
    display: flex;
    justify-content: space-around;
    border-radius: 8px;
    border: 5px solid #ff00f7
}

#content {
    background-color: #f3bdff;
    max-width: 800px;
    margin: 0 auto;

}

nav a {
    text-decoration: none;
}

a{
    color: black;
    padding: 30px;
    font-size: 16px;
}

a:hover {
    background-color: #f3bdff;
    color: black;
}

h1{
    text-align: center;
}

img {
    width: 70%;
    display: block;
    margin: 0 auto;
    border-radius: 50%;
    border: 5px solid #ff00f7
}
p{
    width: 70%;
    margin: 25px auto;
    line-height: 1.25em;
    background-color: aqua;
    padding: 30px;
    box-sizing: border-box;
    border-radius: 8px;
    border: 5px solid #ff00f7

}
