body {background-color: #f3bdff;

}
nav, footer {
    background-color: aqua;
    max-width: 800px;
    margin: 0 auto;
}

#content {
    background-color: #f3bdff;
    max-width: 800px;
    margin: 0 auto;

}

nav a {
    text-decoration: none;
}

a{
    color: black;
    padding: 30px;
    font-size: 16px;
}

a:hover {
    background-color: #f3bdff;
    color: black;
}

h1{
    text-align: center;
}

img {
    width: 70%;
    display: block;
    margin: 0 auto;
}
p{
    width: 70%;
    margin: 25px auto;
}